<section class="content">
  <header>
    <h1>Agent Results</h1>
  </header>

  <main>
    <%= react_component("AgentList", { agents: @agents, search: @search }) %>
  </main>

  <footer>
    <p>HomeLight Interview Kit &copy; <%= Date.today.year %></p>
  </footer>
</section>