body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.content {
  color: #444;
  margin: 0 auto;
}

fieldset {
  border: none;
}

h1 {
  color: #444;
}

h3 {
  text-decoration: underline;
}

header {
  h1 {
    text-align: center;
  }
}

main {
  
}

footer {
  text-align: center;
  width: 100%;
}